body {
    background-color: rgb(241, 221, 196);
}
h1 {
    color: rgb(255, 61, 61);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px ;
}
 h2{
    margin-top: 45px;
    text-align: center;
    font-size: 25px;
    color: green;
    font-weight: bold;
}

   #baslık2{
    text-align: center;
    color: blueviolet;
   }

   ul {
    list-style-type: disc; 
    list-style-position: inside; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 0;
  }
  
  li {
    width: max-content; 
    text-align: center; 
  }
  .ürünler {
    list-style: decimal;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ürünler li {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
  }
  .ürünler li img {
    width: 150px;
    height: auto;
  }
  h3 {
    color: blueviolet;
  }